body{
	background-color: #8ED2FF;
	padding-left: 5%;
}

header{
	z-index: 2; 
	position: fixed;
	left: 0;
	top: 0;
	width: 100%;
	background-color: #0065FF;
	height: 60px;
}

header > a {
	position: relative;
	top: 25%;
	color: black;
	font-family: Garamond;
	font-size: 20px;
	background-color: #bbbbbb;
	border-radius: 3px;
}

header > a:hover{
	border-radius: 4px; 
}

#homebutton{
	left: 10%;
}

.settingsbutton{
	left: 75%;
}

.logoutbutton{
	left: 80%;
}

p{
	position: relative;
	font-family: Garamond;
	font-size: 36px;
}


footer{
	background-color: #00A7AD;
	width: 104%;
	height: 60px;
	position: fixed;
	bottom: -10px;
	left: 1px;
}

#loginbox{
	width: 30%;
	background-color: white;
	margin-left: auto;
	margin-right: auto;
	margin-top: auto;
	margin-bottom: 10%;
	top: 20%;
	border-radius: 20px;
	position: relative;
}

#emailp{
	padding-left: 21%;
	margin: auto;
}

#passwordp{
	padding-left: 10%;
	margin: auto;
}

#infop{
	text-align: center;
	padding-top: 2%;
}

#loginbutton{
	position: relative;
	left: 68%;
	bottom: 2%;
}

.inputbox{
	font-size: 20px;
	width: 200px;
}

#footertext{
	position: fixed;
	bottom: 15px;
	left: 3%;
	color: white;
}

/*
FOR HOMEPAGE
*/

#decks{
	border-radius: 5%;
	top: 20%;
	position: absolute;
	width: 30%;
	height: 80%;
	background-color: #ff88ff;
	overflow: scroll;
}

#createnewdeck{
	position: absolute;
	width: 30%;
	border-radius: 5%;
	height: 10%;
	background-color: red;
	text-align: center;
	font-size: 20px;
}

#createdecktext{
	padding-top: 20%;
}