body{
	background-color: #8ED2FF;
}

header{
	z-index: 2; 
	position: fixed;
	left: 0;
	top: 0;
	width: 100%;
	background-color: #0065FF;
	height: 60px;
}

header > a {
	position: relative;
	top: 25%;
	color: black;
	font-family: Garamond;
	font-size: 20px;
	background-color: #bbbbbb;
	border-radius: 3px;
}

header > a:hover{
	border-radius: 4px; 
}

#homebutton{
	left: 10%;
}

.settingsbutton{
	left: 75%;
}

.logoutbutton{
	left: 80%;
}

p{
	position: relative;
	font-family: Garamond;
	font-size: 36px;
}


#footer{
	left: -1%;
	height: 50px;
	background-color: #00A7AD;
	width: 101%;
	/*position: absolute;*/
	bottom: 0px;
}

#footertext{
	position: absolute;
	bottom: 15px;
	left: 3%;
	color: white;
}

#loginbox{
	width: 30%;
	background-color: white;
	margin-left: auto;
	margin-right: auto;
	margin-top: auto;
	margin-bottom: 10%;
	top: 20%;
	border-radius: 20px;
	position: relative;
}

#emailp{
	padding-left: 21%;
	margin: auto;
}

#passwordp{
	padding-left: 10%;
	margin: auto;
}

#infop{
	text-align: center;
	padding-top: 2%;
}

#loginbutton{
	position: relative;
	left: 68%;
	bottom: 2%;
}

.inputbox{
	font-size: 20px;
	width: 200px;
}


/*
FOR HOMEPAGE
*/

#decks{ 			/*#DECKLISTDIV*/
	top: 20%;
	position: absolute;
	width: 30%;
	height: 70%;
	overflow: auto;
	overflow-x: hidden;
	background-color: white;
}

.deckdiv{

	position: static;
	margin-top: 2%;
	height: 8%;
	background-color: maroon;
	border: 3px solid black;
	text-align: center;
	vertical-align: middle;
}

.deckdiv > a {
	color: white;
}

#createnewdeck{
	position: absolute;
	width: 30%;
	border-radius: 5%;
	height: 10%;
	text-align: center;
	font-size: 20px;
}

#createdecktext{
	padding-top: 20%;
}


/*
FOR NEWDECK + EDITDECK
*/

#decklistzone{
	position: absolute;
	top: 30%;
	left: 25%;
}

#decklist{
	overflow: auto;
	width: 32%;
}










