<!doctype html>

<html>
<head>
	<title>Method Not Allowed</title>
	<link href="/static/style.css" rel="stylesheet">
</head>
<body>

	<header>
		<a href="/" id="homebutton">Home</a>
		<a href="/logout" class="logoutbutton">Log Out</a>
	</header>

	<br><br>

	<p> 
		{{msg}} 
		<br><br>
		Head back to the homepage <a href="/">here.</a> 
	</p>

	<footer>
		<div id="footertext"> Questions? Found a Bug? Want to Contribute? Contact: Eddie Lazar -> eddie.lazar@yahoo.com</div>
	</footer>

</body>
</html>

