<!doctype html>

<html>
<head>
	<title>Internal Server Error</title>
	<link href="/static/style.css" rel="stylesheet">
</head>
<body>

	<header>
		<a href="/" id="homebutton">Home</a>
		<a href="/logout" class="logoutbutton">Log Out</a>
	</header>

	<br><br>

	<p> 
		The server has encountered an error: {{msg}} 
		<br><br>
		Don't worry, it's not your fault. Head back to the homepage <a href="/">here.</a> 
	</p>

	<img src="/static/notyourfault.png", style="width: 50%;">

	<footer>
		<div id="footertext"> Questions? Found a Bug? Want to Contribute? Contact: Eddie Lazar -> eddie.lazar@yahoo.com</div>
	</footer>

</body>
</html>

