
<html>
<head>
	<title>{{name}}</title>
	<link rel="stylesheet" href="/static/style.css">
	<link rel="icon" href="/static/favicon.png">
</head>
<body>

	<header>
		<a href="/" id="homebutton"> Home </a>
	</header>

	<br><br>

	<p>Here's your deck duder</p>

	<p>{{deck}}</p>

	<script type="text/javascript">

		//send in a form with the deck's name to a flask page
		//so flask can retrive deck from DB and do something with it
		function formsubmit (action) {
			var submitForm = document.createElement("form");
				submitForm.setAttribute("action", action);
				submitForm.setAttribute("method", "post");

				var input = document.createElement("input");

				input.setAttribute("type", "text");
				input.setAttribute("name", "name");
				input.setAttribute("value", "{{name}}");

				submitForm.appendChild(input);
				document.body.appendChild(submitForm);
				submitForm.submit();
		}


		function editdeck () {
			// redirect to edit deck page
			// needs deck name and session userid so python can fetch the deck
			formsubmit("/editdeck");
		}
		
		function deletedeck(){
			if (confirm("Are you sure you want to delete this deck?")){
				formsubmit("/deletedeck");
			}
		}

	</script>

	<button onclick="editdeck()"> Edit Deck </button>

	<button onclick="deletedeck()"> Delete Deck </button>

	<footer>
		<div id="footertext"> Questions? Found a Bug? Want to Contribute? Contact: Eddie Lazar -> eddie.lazar@yahoo.com</div>
	</footer>


</body>
</html>