<!doctype html>

<html>
<head>
	<title>{{name}}</title>
	<link href="static/style.css" rel="stylesheet">
	<link rel="icon" href="static/favicon.png">
</head>
<body>


	<header>
		<a href="/settings" class="settingsbutton"> Account Settings </a>
		<a href="/logout" class="logoutbutton"> Log Out </a>
	</header>

	<br><br>

	<script type="text/javascript">

		function getCard () {
			
			const Http = new XMLHttpRequest();
			const url = "https://api.scryfall.com/cards/named?fuzzy="
			
			var cardName = document.getElementById('textfield').value;
			
			Http.open("GET", url+cardName);
			Http.send();
			
			Http.onreadystatechange=(e)=>{
				var response = Http.responseText;
				var obj = JSON.parse(response);
				imageURL = obj.image_uris.normal;
				document.getElementById('cardspot').setAttribute("src", imageURL);
				document.getElementById('cardtext').innerText = "Click on the card to add it to your deck.";
				document.getElementById('cardspot').setAttribute("onclick", "addToList(\"" + cardName+ "\")");
			}
		}


		function addToList(cardName){
			document.getElementById("decklist").innerHTML += cardName + "\n";
		}


	</script>

	<p>Edit your deck here by entering cards and adding them to the decklist. One card per line.</p>	

	<div>
		<p>
			Enter card name: <input id="textfield">
			<button onclick="getCard()" style="position: inline;">Search</button>
		</p>	
	</div>

	<div>
		<div id="cardtext"></div>
		<img src="" id="cardspot" style="background-color: black; width: 18%; height: 36%; border-radius: 5%;">
	</div>

	<span id="decklistzone">
		<form id="formid" action="resubmitdeck" method="POST">
			Deck name: <input type="text" name="name" value="{{name}}">

			<textarea name="deck" rows=25 cols=25 id="decklist" form="formid"></textarea>
			<button type="submit"> Confirm Deck Edit </button>
		</form>
	</span>

	<script type="text/javascript">
		var rawDeckList = "{{deck}}";
		var DeckList = rawDeckList.split(",");
		for (var i = DeckList.length - 1; i >= 0; i--) {
			document.getElementById('decklist').innerHTML += DeckList[i] + "\n"; 
		};
		
	</script>

	<!-- for later: deck analysis box with mana curve, colors, land base, price, etc -->

	<!-- for later: card recommender based on mana curve fit, colors, mechanics?? -->
	<footer>
		<div id="footertext"> Questions? Found a Bug? Want to Contribute? Contact: Eddie Lazar -> eddie.lazar@yahoo.com</div>
	</footer>


</body>
</html>