<!doctype html>

<html>
<head>
	<title>Homepage</title>
	<link href="/static/style.css" rel="stylesheet">
	<link rel="icon" href="/static/favicon.png">
</head>
<body>


	<header>
		<a href="/settings" class="settingsbutton"> Account Settings </a>
		<a href="/logout" class="logoutbutton"> Log Out </a>
	</header>

	<br><br>

	<div id="createnewdeck">
		<p><a href="/newdeck" id="createdecktext"> Create New Deck </a></p>
	</div>

	<div id="decks">
		<!-- Acquire user's decks from database, list them here programatically with JavaScript -->
	</div>

	<script type="text/javascript">
		
		// console.log("{{decks}}");
		// console.log("{{ids}}");

		var decklist = "{{decks}}".split("[~{");
		var idlist = "{{ids}}".split("[~{");
		
		if("{{decks}}" == ""){ //need this because string split makes an empty string one value, when it should be zero
			decklist = [];
		};

		var decklistDiv = document.getElementById('decks');

		for (var i = 0; i < decklist.length; i++) {
			
			var deckDiv = document.createElement("div");
			deckDiv.setAttribute("class", "deckdiv");
			
			var deckLink = document.createElement("a");
			deckLink.innerText = decklist[i] + "\n";
			deckLink.setAttribute("href", "/deck/"+ idlist[i])

			deckDiv.appendChild(deckLink);
			decklistDiv.appendChild(deckDiv);
		
		};

	</script>

	<footer>
		<div id="footertext"> Questions? Found a Bug? Want to Contribute? Contact: Eddie Lazar -> eddie.lazar@yahoo.com</div>
	</footer>


</body>
</html>