<!doctype html>

<html>
<head>
	<title>Homepage</title>
	<link href="/static/style.css" rel="stylesheet">
	<link rel="icon" href="/static/favicon.png">
</head>
<body>


	<header>
		<a href="/settings" class="settingsbutton"> Account Settings </a>
		<a href="/logout" class="logoutbutton"> Log Out </a>
	</header>

	<br><br>



	<div id="decks">

		<!-- Acquire user's decks from database -->
		<!-- list them here programatically with JavaScript -->
		


	</div>

	<script type="text/javascript">
		
		var decklist = "{{decks}}".split(", ");

		var decklistDiv = document.getElementById('decks');

		for (var i = 0; i < decklist.length; i++) {
			
			var deckDisplay = document.createElement("a");
			deckDisplay.setAttribute("href", "{{session['username']}}/"+ decklist[i])
			
			deckDisplay.innerText = decklist[i];
			
			decklistDiv.appendChild(deckDisplay);
		
		};

	</script>

	<br>

	<div id="createnewdeck">
		<a href="/newdeck" id="createdecktext"> Create New Deck </a>
	</div>

	<br>
	
	<div id="community">
		<a href="/community"> Community Decks </a>
	</div>
	
	<br>	

	<div id="cards">
		<a href="/cards"> See Cards </a>
	</div>

	<footer>
		<div id="footertext"> Questions? Found a Bug? Want to Contribute? Contact: Eddie Lazar -> eddie.lazar@yahoo.com</div>
	</footer>


</body>
</html>