<!DOCTYPE html>

<html>
<head>
	<link href="static/style.css" rel="stylesheet">
	<title>You dun goofed.</title>

</head>
<body>

	<header>
		<!-- <a href="/" class="headerlink">Home</a> -->
		<!-- <a href="/logout" class="headerlink">Log Out</a> -->
	</header>

	<br><br>

	<p>Login failed. Please <a href="/login">try again</a> or <a href="/signup"> make an account.<p>

	<footer>
		<div id="footertext"> Questions? Found a Bug? Want to Contribute? Contact: Eddie Lazar -> eddie.lazar@yahoo.com</div>
	</footer>

</body>
</html>