<!DOCTYPE html>

<html>
<head>
	<title>Login Attempt Failed.</title>
	<link href="static/style.css" rel="stylesheet">
</head>
<body>

	<header>
		<a href="/" id="homebutton"> Home </a>
		<!-- <a href="/logout" class="headerlink">Log Out</a> -->
	</header>

	<br><br>

	<p>Login failed. Please <a href="/login">try again</a> or <a href="/signup"> make an account.<p>

	<footer>
		<div id="footertext"> Questions? Found a Bug? Want to Contribute? Contact: Eddie Lazar -> eddie.lazar@yahoo.com</div>
	</footer>

</body>
</html>