
<html>
<head>
	<title>Log In</title>
	<link rel="stylesheet" href="static/styles/style.css">
	<link rel="icon" href="static/favicon.png">
</head>
<body>


	<div id="loginbox">
		<p id="infop">Enter your info here.</p>
		<form action="loginprocess" method="POST">
		   <p id="emailp">Email: <input name="email" class="inputbox"></p>
		   <br>
		   <p id="passwordp">Password: <input type="password" name="password" class="inputbox"></p>
		   <br>
		   <button type="submit" id="loginbutton">Submit</button>
		</form>
	</div>	


</body>
</html>