<!doctype html>

<html>
<head>
	<title>Homepage</title>
	<link href="static/style.css" rel="stylesheet">
	<link rel="icon" href="static/favicon.png">
</head>
<body>


	<header>
		<a href="/settings" class="settingsbutton"> Account Settings </a>
		<a href="/logout" class="logoutbutton"> Log Out </a>
	</header>

	<br><br>

	<script type="text/javascript">

		function getCard () {
			const Http = new XMLHttpRequest();
			const url = "https://api.scryfall.com/cards/named?fuzzy="
			var cardName = document.getElementById('textfield').value;
			Http.open("GET", url+cardName);
			Http.send();
			console.log("sent");

			Http.onreadystatechange=(e)=>{
				var response = Http.responseText;
				var obj = JSON.parse(response);
				imageURL = obj.image_uris.normal;
				console.log("image url is " + imageURL);
				document.getElementById('cardspot').setAttribute("src", imageURL)
			}
		}


	</script>

	<p>Create your deck here by entering cards and adding them to the decklist.</p>

	<div>
		<p>enter card name: <input id="textfield"></p>
		<button onclick="getCard()"></button>
	</div>

	<div>
		<img src="" id="cardspot">
	</div>

	<!-- text box to type in cards for scryfall -->
	<!-- when cards appear, click to add to deck -->
	<!-- "save deck" button -->

	<!-- for later: deck analysis box with mana curve, colors, land base, price, etc -->

	<!-- for later: card recommender based on mana curve fit, colors, mechanics?? -->
	<footer>
		<div id="footertext"> Questions? Found a Bug? Want to Contribute? Contact: Eddie Lazar -> eddie.lazar@yahoo.com</div>
	</footer>


</body>
</html>