<!doctype html>

<html>
<head>
	<title>Create Deck</title>
	<link href="/static/style.css" rel="stylesheet">
	<link rel="icon" href="/static/favicon.png">
</head>
<body>


	<header>
		<a href="/settings" class="settingsbutton"> Account Settings </a>
		<a href="/logout" class="logoutbutton"> Log Out </a>
	</header>

	<br><br>

	<script type="text/javascript">

		function getCard () {
			
			const Http = new XMLHttpRequest();
			const url = "https://api.scryfall.com/cards/named?fuzzy="
			
			var cardName = document.getElementById('textfield').value;
			
			Http.open("GET", url+cardName);
			Http.send();
			
			Http.onreadystatechange=(e)=>{
				if(Http.status === 404){
					imageURL = "static/notfound.png";
					document.getElementById('cardspot').setAttribute("src", imageURL);
				}
				else if(Http.status === 200){
					var response = Http.responseText;
					var obj = JSON.parse(response);
					imageURL = obj.image_uris.normal;
					cardName = obj.name;
					document.getElementById('cardspot').setAttribute("src", imageURL);
					document.getElementById('cardtext').innerText = "Click on the card to add it to your deck.";
					document.getElementById('cardspot').setAttribute("onclick", "addToList(\"" + cardName+ "\")");
				}
			}
		}


		function addToList(cardName){

			var A = document.getElementById("decklist").innerHTML.split("\n").slice(0,-1); //need to drop the final newline

			for (var i = 0; i < A.length; i++) {
				var tokens = A[i].split(" ");
				var firstToken = tokens[0];
				
				var count = parseInt(firstToken);

				var name;

				if (!(count < 20000000000000000)){ //THIS IS JUST TO CHECK IF ITS A NUMBER OR NOT. NAN<ANY_INT WILL RETURN FALSE. _MOST_ NUMBERS WILL NOT. 
					count = 0;
					name = A[i];
				}
				else{	
					name = "";
					for (var token_i = 1; token_i < tokens.length; token_i++){
						name += tokens[token_i] + " ";
					}
					name = name.substring(0, name.length - 1);
					
				}
			
				if (cardName === name){
					
					A[i] = (count + 1) + " " + name;
					
					var retval = "";
					for (var lineIndex in A){
						retval += A[lineIndex] + "\n";
					}
					document.getElementById("decklist").innerHTML = retval;
					return;
				}
			}
			document.getElementById("decklist").innerHTML += "1 " + cardName + "\n";
		}


	</script>

	<p>Create your deck here by entering cards and adding them to the decklist. One card per line.</p>	

	<div>
		<p>
			Enter card name: <input id="textfield">
			<button onclick="getCard()" style="position: inline;">Search</button>
		</p>	
	</div>

	<div>
		<div id="cardtext"></div>
		<img id="cardspot" style="width: 18%; height: 36%; border-radius: 5%;">
	</div>

	<span id="decklistzone">
		<form id="formid" action="submitdeck" method="POST">
			Deck name (required): <input type="text" name="name">
			<textarea name="deck" rows=25 cols=25 id="decklist" form="formid"></textarea>
			<button type="submit"> Upload Deck </button>
		</form>
	</span>
	

	<!-- for later: card recommender based on mana curve fit, colors, mechanics?? -->


</body>
</html>