
<html>
<head>
	<title>Account Settings</title>
	<link rel="stylesheet" href="static/style.css">
	<link rel="icon" href="static/favicon.png">
</head>
<body>

	<header>
		<a href="/" id="homebutton"> Home </a>
		<a href="/logout" class="logoutbutton"> Log Out </a>
	</header>

	<p>Dear users: nothing to see here. Return <a href="/">home</a> please :)</p>

	<p>
		<h2>future features:</h2>
		<ul>
			<li>delete account</li>
			<li>change password</li>
		</ul>

	</p>

	<footer>
		<div id="footertext"> Questions? Found a Bug? Want to Contribute? Contact: Eddie Lazar -> eddie.lazar@yahoo.com</div>
	</footer>


</body>
</html>