<!doctype html>

<html>
<head>
	<title>Account Settings</title>
	<link rel="stylesheet" href="/static/style.css">
	<link rel="icon" href="/static/favicon.png">
</head>
<body>

	<header>
		<a href="/" id="homebutton"> Home </a>
		<a href="/logout" class="logoutbutton"> Log Out </a>
	</header>

	<br><br>

	<script type="text/javascript">

		function changeUsername () {
			if (confirm("Are you sure you want to change your username?")){
				document.getElementById("usernameForm").setAttribute("style", "");
			}

		}

	</script>


	<p>
		Username: {{session['username']}}
		<button onclick="changeUsername()">Change Username</button>
		<form id="usernameForm" style="display: none;" action="changeusername" method="POST">
			Type new username here.
			<input type="text" name="newUsername">
			<button type="submit"> Submit </button>
		</form>
	</p>

	<p>
		Email Address: {{session['email']}}
		<button onclick="changeEmail()">Change Email Address</button>
	</p>

	<p>
		<button onclick="changePassword()">Change Password</button>
	</p>

	<button onclick="delete()">Delete Account?</button>

	<p>
		<h2>future features:</h2>
		<ul>
			<li>delete account</li>
			<li>change password</li>
		</ul>

	</p>

	<footer>
		<div id="footertext"> Questions? Found a Bug? Want to Contribute? Contact: Eddie Lazar -> eddie.lazar@yahoo.com</div>
	</footer>


</body>
</html>