
<html>
<head>
	<title>Signup Error</title>
	<link rel="stylesheet" href="static/style.css">
	<link rel="icon" href="static/favicon.png">
</head>
<body>

	<header>
		<a href="/" id="homebutton"> Home </a>
		<!-- <a href="/logout" class="logoutbutton"> Log Out </a> -->
	</header>

	<br><br>

	<p>{{error}}</p>

	<p>Go <a href="/signup">back</a> and try again or return <a href="/">home</a> here.</p>

	<footer>
		<div id="footertext"> Questions? Found a Bug? Want to Contribute? Contact: Eddie Lazar -> eddie.lazar@yahoo.com</div>
	</footer>


</body>
</html>