
<html>
<head>
	<title>Sign Up</title>
	<link href="/static/style.css" rel="stylesheet">
</head>
<body>

	<header>
		<!-- <a href="/" class="headerlink">Home</a> -->
		<!-- <a href="/logout" class="headerlink">Log Out</a> -->
	</header>

	<br>
	<br>

	<h3>Create Account</h3>
	<form action="signupprocess" method="POST">

	   <p>Username: <input name="username"></p>

	   <br>
	   
	   <p>Password: <input type="password" name="password"></p>
	   
	   <br>
	   
	   <p>Repeat Password: <input type="password" name="repeatpw" class="inputbox"></p>
	   
	   <br>
	   
	   <p>Email: <input type="email" name="email"></p>
	   
	   <br>
	   
	   <button type="submit">Submit</button>
	
	</form>

	<footer>
		<div id="footertext"> Questions? Found a Bug? Want to Contribute? Contact: Eddie Lazar -> eddie.lazar@yahoo.com</div>
	</footer>


</body>
</html>