<!DOCTYPE html>

<html>
<head>
	<title>Deckerator: Online Deck Builder</title>
	<link rel="stylesheet" href="/static/style.css">
	<link rel="icon" href="/static/favicon.png">
</head>
<body>

	<header>
		<!-- <a href="/" class="headerlink">Home</a> -->
		<!-- <a href="/logout" class="headerlink">Log Out</a> -->
	</header>
	
	<br>
	<br>

	<p> Welcome to Deckerator, the free online Magic: The Gathering Deckbuilder. </p>
	
	<p><a href="/login"> Log In</a> or <a href="/signup">Sign Up</a> to view cards and decks.</p>

</body>
</html>